@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --amazon-blue: #131921;
  --amazon-light: #232f3e;
  --amazon-yellow: #febd69;
  --amazon-orange: #cd9042;
}

body {
  background-color: #f3f3f3;
}